@mixin primary-button($color) {
    font-size:20px;
    background-color: $color;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style:none;
    cursor: pointer;
    &:hover {
        background-color: dark (#414141)
    }
}
