@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/typography";

body {
    font-family: 'Dosis', sans-serif;
}

main h1 {
    color: colors.$primary-color;
    font-family: 'Marck Script';
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
}

.primary {
   @include mixins.primary-button(#7676c9);
}

.secondary {
    @include mixins.primary-button (#DB8D33);
}

nav {
    a {
        color: colors.$primary-color;
    }
    background-color:white;
    ul {
        li {
           list-style: none; 
       a {
        color: colors.$primary-color;
       }
    }
}
}

.buttons {
    margin-top: 20px;
}




